<% if list.favourited_by != current_user %>
	<td><%= link_to favourite_list_path(list, type: "unfavourite"), method: :put do %><i class="fa fa-star" aria-hidden="true"></i></td><% end %>
<% else %>
	<td><%= link_to favourite_list_path(list, type: "favourite"), method: :put do %><i class="fa fa-star-o" aria-hidden="true"></i></td><% end %>
<% end %>
	