<tr>
	<% unless current_page?('/lists/new') %>
		<td><%= f.check_box :close %></td>
	<% end %>
	<td><%= f.text_field :task, class: "form-control"  %></td>
    <td><%= f.hidden_field :_destroy, class: "remove" %>
        <a href="" class="remove_record" type="button" style="color: grey" ><i class="fa fa-lf fa-trash"></i></a>
    </td>
</tr>  
